.title {
    font-size: x-large;
    font-weight: 500;
}
.subTitle {
    font-size: large;
    font-weight: 400;
}

.headerProject {
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 350;
}


.mainProject {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f2f5;
}

.task {
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 12px;
    font-size: medium;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid rgb(222, 215, 215);
}


.status {
    color: rgb(155, 246, 18);
    border-radius: 12px;
    padding: 4px;
    text-transform: uppercase
}

.statusDone {
    background-color: rgb(240, 53, 53);
    color: white;
    border-radius: 12px;
    padding: 4px;
}

.layOut {
   height: 100vh;
   display: flex;
   gap: 12px;
}

.Project {
   position: relative;
   flex: 5.2;
   display: flex;
   flex-direction: column;

   height: 100vh;

   overflow-y: auto;

   background-color: #FFFFFF;
   opacity: 0.95;

   padding-left: 16px;
}

.SideBar {
   position: relative;
   flex: 1;
   display: flex; 
   overflow-y: auto;
   background-color:  #FFFFFF;
   opacity: 0.95;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   border: 1px solid #e2e8f0;
   padding: 12px;
   padding-top: 20px;
   gap: 4px;
}

.sideBarOption {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    color: #475569;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    width: 100%;
    padding-left: 40px;
    gap: 12px;
    align-items: center;
    height: 50px;
    border-radius: 12px;
}

.sideBarOption:hover {
    opacity: 1;
    background-color: #eef1f4;
}

.buttonLogOut {
    display: inline-block;
    opacity: 0.8;
    color: aliceblue;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.profileContainer {
    color: #1E293B;
    font-size: small;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 90px;
    border-radius: 16px;
    border: 1px solid #dee2eb;
    gap: 12px;

    position: absolute;
    bottom: 100px;
    left: 10px;
    cursor: pointer;
}

.stars {
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.4);
    border: 1px solid #3B82F6;
}

.createContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}